<h1> Ask Doge Tech Support!</h1>
<p>Have a question? Doge Tech Support always has an Answer!</p>

<form action="answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>

<div id="background">
    <img src="" class="stretch" alt="" />
</div>

