// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-image: url(https://www.talmanau.com/media/2015/05/DSC_0048.jpg);
  background-repeat: no-repeat;
  background-size: 100%;



}

h1 {
  text-align: center;
  color: #FFFFFF;
  font-family: comic;
  font-size: 72px;


}

p {text-align: center;
   color: #FFFFFF

}

form {
  text-align: center;
   color: #FFFFFF
}

